body {
    background-color: #333333;
    font-family: 'Titillium Web', sans-serif;
    height: 100vh;
    margin: 0;
}

.content {
    height: 100%;
}

.titleBar {
    justify-content: center;
    height: 10%;
}

.title {
    color: #43c4be;
    font-weight: 200;
    font-size: 70px;
    text-align: center;
    margin: 0;
}

.window {
    height: 90%;
}

.loginBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#login {
    font-family: 'Titillium Web';
    font-size: 28px;
    text-align: center;
}

#loginLabel {
    color: white;
    font-size: 39px;
    margin: 0;
}

#loginBtn {
    padding: 0 105px;
    border: 1px solid #EAAA00;
    border-radius: 5px;
    font-family: 'Titillium Web';
    font-size: 28px;
    background-color: #EAAA00;
    margin-top: 10px;
}

.sequenceButton:hover {
    cursor: pointer;
}

.sequenceButton {
    border: 0;
    padding: 10px 10px;
    border-radius: 30%;
    background-color: #c44349;
    color: white;
    font-family: 'Titillium Web', 'sans-serif';
    font-size: 50px;
}

.sequenceButton > div {
    width: 78px;
    height: 78px;
}

@media only screen and (min-width:620px) {
    /* For Desktops: */
    .title {
        font-size: 100px;
    }

    .titleBar {
        height: 20%;
    }

    .window {
        height: 80%;
    }
}