body {
    background-color: #333333;
    font-family: 'Titillium Web', sans-serif;
    height: 100vh;
    margin: 0;
}

.content {
    height: 100%;
}

.titleBar {
    justify-content: center;
    height: 10%;
}

.title {
    color: #43c4be;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

.window {
    height: 90%;
}

.loginBlock {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#username, #password {
    font-family: 'Titillium Web';
    font-size: 28px;
    text-align: center;
    padding: 0px;
}

#password {
    display: none;
}

#loginLabel {
    color: white;
    font-size: 39px;
    margin: 0;
}

#loginBtn {
    padding: 0 109px;
    border: 1px solid #EAAA00;
    border-radius: 5px;
    font-family: 'Titillium Web';
    font-size: 28px;
    background-color: #EAAA00;
    margin-top: 10px;
    color: white;
}

@media only screen and (min-width:620px) {
    /* For Desktops: */
    .title {
        font-size: 75px;
    }

    .titleBar {
        height: 20%;
    }

    .window {
        height: 80%;
    }

    #loginLabel {
        font-size: 39px;
    }
}