<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Admin Page</title>
        <style>
            td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <table id="statsTable">
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Endpoint</th>
                    <th>Requests</th>
                </tr>
            </thead>
            <tbody id="entries">
            </tbody>
        </table>

        <script>
            function addToTable(cell1, cell2, cell3) {
                let entries = document.getElementById("entries");
                let row = entries.insertRow(0);
                let method = row.insertCell(0);
                let endpoint = row.insertCell(1);
                let requests = row.insertCell(2);
                method.innerHTML = cell1;
                endpoint.innerHTML = cell2;
                requests.innerHTML = cell3;
            }

            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", `https://diyarsalamatravandi.ca/sequence/v1/stats`, true);
            xhttp.send();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let result = JSON.parse(this.responseText);
                    
                    for (let i=result.length; i>=0; i--) {
                        let obj = result[i];
                        addToTable(obj['method'], obj['end_point'], obj['total_requests']);
                    }
                }
            }
        </script>
    </body>
</html>