<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/gamePage.css">
    
    <title>Sequence</title>
</head>
<body>
    <div id="overlay">
        <div id="countdown">3</div>
    </div>
    <button id="pause">&#9612;&#9612;</button>
    <div id="pauseOverlay">
        <div id="pauseMenu">
            <button id="resume">Resume</button>
            <button id="quit">Quit</button>
        </div>
    </div>
    
    <div class="content">
        <div class="titleBar">
            <div>
                <span class="titleBarText" id="highScore">👑 7s (marlon)</span>
            </div>
            <div id="currentNum">
                <span class="titleBarText" id="currentNumber">Sequence</span>
            </div>
            <div>
                <span class="titleBarText" id="time">0s</span>
            </div>
            
            

        </div>

        <div id="mainMenu">
                <button id="start">Play</button>
                <button id="leaderboard">Leaderboard</button>
        </div>
        <button id="logout">logout</button>

        <div id="gameWindow">
        </div>
        

    </div>

    
    <script src="../../public/script/gamePage.js"></script>
</body>
</html>