<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/gamePage.css">
    <!-- <link rel="stylesheet" href="../../public/css/gamePage.css"> -->

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">

    <meta name="theme-color" content="#333333">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Sequence</title>
</head>

<body>
    <div id="overlay">
        <div id="countdown">3</div>
    </div>
    <button id="pause">&#9612;&#9612;</button>
    <div id="pauseOverlay">
        <div id="pauseMenu">
            <button id="resume">Resume</button>
            <button id="quit">Quit</button>
        </div>
    </div>

    <div class="content" id="contentDiv">
        <div class="titleBar">
            <div id="highScoreDiv">
                <span class="titleBarText" id="highScore"></span>
            </div>
            <div id="currentNum">
                <span class="titleBarText" id="currentNumber">Sequence</span>
            </div>
            <div>
                <span class="titleBarText" id="time">0.0s</span>
            </div>



        </div>

        <div id="mainMenu">
            <button id="start">Play</button>
            <button id="leaderboard">Leaderboard</button>
        </div>
        <div id="gameMenu">
            <div id="highScoresDiv">
                <span class="highScoreText">👑</span><span id="selectedHighScore"
                    class="highScoreText gameModeHighScore selectedGameSizeScore"></span>
                <!-- <div class="highScoreText gameModeHighScore selectedGameSizeScore" id="classic20HS">
                    <span class="highScoreText"></span>
                </div>
                <div class="highScoreText gameModeHighScore" id="classic40HS">
                    <span class="highScoreText"></span>
                </div>
                <div class="highScoreText gameModeHighScore" id="classic60HS">
                    <span class="highScoreText"></span>
                </div>
                <div class="highScoreText gameModeHighScore" id="timed15HS">
                    <span class="highScoreText"></span>
                </div>
                <div class="highScoreText gameModeHighScore" id="timed30HS">
                    <span class="highScoreText"></span>
                </div>
                <div class="highScoreText gameModeHighScore" id="timed45HS">
                    <span class="highScoreText"></span>
                </div> -->
            </div>
            <div id="gameModes">
                <div class="gameMode" id="classicDiv">
                    <span class="gameModeLabel selected" id="classic">Classic</span>
                </div>
                <div class="gameMode" id="timedDiv">
                    <span class="gameModeLabel" id="timed">Timed</span>
                </div>
            </div>
            <div class="gameSizes" id="classicGameSizes">
                <div class="gameSize">
                    <span class="classicSize gameSize selected" id="classic20">20</span>
                </div>

                <div class="gameSize">
                    <span class="classicSize gameSize" id="classic40">40</span>
                </div>

                <div class="gameSize">
                    <span class="classicSize gameSize" id="classic60">60</span>
                </div>
            </div>
            <div class="gameSizes" id="timedGameSizes">
                <div class="gameSize">
                    <span class="timedSize gameSize selected" id="timed15">15s</span>
                </div>

                <div class="gameSize">
                    <span class="timedSize gameSize" id="timed30">30s</span>
                </div>

                <div class="gameSize">
                    <span class="timedSize gameSize" id="timed45">45s</span>
                </div>
            </div>
            <button id="startGame">Start</button>
            <button id="back">Back</button>
        </div>
        <button id="logout">logout</button>

        <div id="gameWindow">
        </div>


    </div>


    <script src="script/gamePage.js"></script>
    <!-- <script src="../../public/script/gamePage.js"></script> -->
</body>

</html>