<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="sequence/css/index.css">

    <link rel="apple-touch-icon" sizes="180x180" href="sequence/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="sequence/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="sequence/favicon/favicon-16x16.png">
    <link rel="manifest" href="sequence/favicon/site.webmanifest">

    <meta name="theme-color" content="#33333">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Sequence</title>
</head>

<body>
    <div class="content">
        <div class="titleBar">
            <p class="title">Sequence</p>
        </div>

        <div class="window">
            <div class="loginBlock" id="loginBlock">
                <p id="loginLabel">Enter your name</p>
                <input class="login" type="text" id="username" placeholder="Username">
                <input class="login" type="password" id="password" placeholder="Password">
                <button id="loginBtn">Enter</button>
            </div>
        </div>
    </div>


    <script src="sequence/script/index.js"></script>
</body>

</html>