<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/index.css">
    
    <title>Sequence</title>
</head>
<body>
    <div class="content">
        <div class="titleBar">
            <p class="title">Leaderboard</p>
        </div>

        <div class="window">
            <div class="Leaderboard">
            </div>
        </div>
    </div>

    
    <script src="../../public/script/index.js"></script>
</body>
</html>