<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/leaderboard.css">
    <link rel="stylesheet" href="../../public/css/leaderboard.css">

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">

    <meta name="theme-color" content="#333333">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>Sequence</title>
</head>

<body>
    <div class="content">
        <div class="titleBar">
            <p class="title">Leaderboard</p>
        </div>

        <div class="window">
            <div id="gameModeMenu">
                <div id="gameModes" class="gameModes">
                    <div class="gameMode" id="classicDiv">
                        <span id="classic" class="gameModeText selected">Classic</span>
                    </div>
                    <div class="gameMode" id="timedDiv">
                        <span id="timed" class="gameModeText">Timed</span>
                    </div>
                </div>
                <div class="gameSizes" id="classicGameSizes">
                    <div class="gameSize">
                        <span id="classic20" class="classicGameSize gameSizeText selected">20</span>
                    </div>

                    <div class="gameSize">
                        <span id="classic40" class="classicGameSize gameSizeText">40</span>
                    </div>

                    <div class="gameSize">
                        <span id="classic60" class="classicGameSize gameSizeText">60</span>
                    </div>
                </div>
                <div class="gameSizes" id="timedGameSizes" style="display:none">
                    <div class="gameSize">
                        <span id="timed15" class="timedGameSize gameSizeText selected">15s</span>
                    </div>
                    <div class="gameSize">
                        <span id="timed30" class="timedGameSize gameSizeText">30s</span>
                    </div>
                    <div class="gameSize">
                        <span id="timed45" class="timedGameSize gameSizeText">45s</span>
                    </div>
                </div>
            </div>
            <!-- <div class="leaderboard">
            </div> -->

        </div>
        <div id="loaderOverlay">
            <div id="loader" class="loader"></div>
        </div>
        <button id="back">Back</button>
    </div>
    </div>


    <!-- <script src="script/leaderboard.js"></script> -->
    <script src="../../public/script/leaderboard.js"></script>
</body>

</html>